@import '../../../../styles/variables';

.solicitacao-form-container {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-primary-soft { background-color: rgba($color-primary, 0.05); }

// Estilos Flutuantes Específicos
.form-floating {
  > .form-control, > .form-select {
    border: 1px solid rgba($color-border, 0.8);
    background-color: $color-gray-100;
    font-weight: 500;
    
    &:focus {
      background-color: $color-white;
    }
  }
}

// Responsividade para botões de ação
@media (max-width: 768px) {
  .form-actions {
    flex-direction: column-reverse;
    
    .btn {
      width: 100%;
    }
  }
}
