@import '../../../../styles/variables';

.tema-list-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

// Estilos Flutuantes Específicos
.form-floating {
  > .form-control, > .form-select {
    border: 1px solid rgba($color-border, 0.8);
    background-color: $color-gray-100;
    
    &:focus {
      background-color: $color-white;
    }
  }
}

.tema-card {
  transition: $transition-base;
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: $shadow-md !important;
  }
}

.tema-card-banner {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  // Pattern sutil em cima das cores do gradiente
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 2px);
    background-size: 20px 20px;
    z-index: 1;
  }
  
  > * {
    position: relative;
    z-index: 2;
  }
}
