@import '../../../../styles/variables';

.tema-form-container {
  max-width: 1400px;
  margin: 0 auto;
}

// Estilos Flutuantes Específicos
.form-floating {
  > .form-control {
    border: 1px solid rgba($color-border, 0.8);
    background-color: $color-gray-100;
    font-weight: 500;
    
    &:focus {
      background-color: $color-white;
    }
  }
}

// Fix para as cores
.form-control-color {
  max-width: 60px;
  padding: 0.375rem;
  height: calc(3.5rem + 2px);
  cursor: pointer;
}

.input-group .form-control:not(.form-control-color) {
  height: calc(3.5rem + 2px);
  align-self: center;
  border: 1px solid rgba($color-border, 0.8);
  border-left: none;
  background-color: $color-gray-100;
}

// Switch Button Boostrap nativo customização
.form-switch .form-check-input {
  width: 2.5em;
  margin-left: -2.5em;
  
  &:checked {
    background-color: $status-success;
    border-color: $status-success;
  }
}

// Tema Card Banner Preview
.tema-card-banner {
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: radial-gradient(rgba(255, 255, 255, 0.3) 2px, transparent 2px);
    background-size: 20px 20px;
    z-index: 1;
  }
  
  > * {
    position: relative;
    z-index: 2;
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
